<div style="float: left;">
    <img src="assets/images/borrower.png" height="40" width="40" /> &nbsp; <h1 style="display: inline;" >Borrower</h1> 
</div>
<div style="float: right; font-size: xx-large;cursor: pointer;" (click)="onNoClick()" >
    &times;
</div>
<br>
<br>
<hr>
<form *ngIf="PartyForm"  [formGroup]="PartyForm" #ngForm="ngForm" class="form-container" (ngSubmit)="SaveParty()">
    <mat-card>
      <mat-card-header class="velCardheader"> 
        
        
        
      </mat-card-header>
      <br>

      <mat-card-content>        
        <div class="row">
            <div class="col-md-12">
              <div class="row">
                
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <input formControlName="PartySno" type="hidden" >
                    <input formControlName="Party_Name" matInput placeholder="Name">
                  </mat-form-field>
                </div>
              </div>  

              <div class="row" style="margin-top: 10px;" >
                <div class="col-md-12">

                    <mat-form-field class="example-full-width">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="Address" placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
                      </mat-form-field>
                    
                </div>
              </div>

              <div class="row" style="margin-top: 10px;" >

                <div class="col-md-6">  
                    <mat-form-field class="full-width">                        
                        <input formControlName="City" matInput placeholder="City">
                      </mat-form-field>
                </div>

                <div class="col-md-6">  
                    <mat-form-field class="example-full-width">
                        <mat-label>Mobile</mat-label>
                        <span matPrefix>+91 &nbsp;</span>
                        <input type="tel" formControlName="Mobile"  matInput placeholder="555-555-1234">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                      </mat-form-field>
                </div>

              </div>
              
              <div class="row" style="margin-top: 10px;" >

                <div class="col-md-12">  
                    <mat-form-field class="full-width">                        
                        <input formControlName="Email" matInput placeholder="Email">
                      </mat-form-field>
                </div>

              

              </div>

          </div>

        </div>
         
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="full-width" >                
              <input formControlName="Remarks" matInput #Remarks placeholder="Remarks">
            </mat-form-field>
          </div>

          
        </div>

      </mat-card-content>

  
    </mat-card>
  </form>
  
  <br>

  <mat-card-actions style="margin-left: 0px;" >
    <button type="submit" (click)="SaveParty()" style="color: green;" mat-stroked-button color="primary" >
        <mat-icon>save</mat-icon>
        Save {{PartyType}}
    </button>

    <button (click)="AddNewParty()"  mat-stroked-button color="primary" >
      <mat-icon>save</mat-icon>
      New {{PartyType}}
    </button>

    <button (click)="DeleteParty()" mat-stroked-button color="warn" >
      <mat-icon>delete</mat-icon>      
      Delete
    </button>
  </mat-card-actions>