<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group dynamicHeight [selectedIndex]="SelectedIndex" (selectedTabChange) ="SetSelectedIndex($event)">
              
        <mat-tab>
          <ng-template mat-tab-label>                    
            <img src="assets/images/activity.png" height="30" width="30" />
            Activity                  
          </ng-template>
          <app-recenttrans> </app-recenttrans>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>                    
            <img src="assets/images/customers.png" height="30" width="30" />
            Customers
          </ng-template>
          <app-customers></app-customers> 
        </mat-tab>
      
        <mat-tab>  
          <ng-template mat-tab-label>
            <img src="assets/images/borrower.png" height="30" width="30" />
            Borrowers
          </ng-template>
          <app-borrowers></app-borrowers>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <img src="assets/images/banks.png" height="30" width="30" />
            Banks
          </ng-template>              
          <app-banks></app-banks>
        </mat-tab>
      </mat-tab-group>          
    </div>
  </div>
</div>
 



