<div class="profileContainer" *ngIf="Party" >
    <div class="editButton">
        <i class='bx bxs-edit' style='color:#5ba329' (click)="AlterAlert()" ></i>
    </div>
    

    <div class="imgArea">
        <ng-container *ngIf="Party.Party_Image" >
            <img [src]="Party.Party_Image" />
        </ng-container>
        
        <ng-container *ngIf="!Party.Party_Image">
            <img src="assets/images/partyimagepreview.png" />
        </ng-container>

    </div>
    <div class="ratingArea"  >
        <div *ngFor="let item of [].constructor(5); let i = index">
            <div *ngIf="i <= (Party.Ratings!-1)">
                <i class='bx bxs-star' style='color:#f1b660' ></i>
            </div>
            <div *ngIf="i > (Party.Ratings!-1)">
                <i class='bx bx-star' style='color:#f1b660' ></i>
            </div>
            
        </div>           
    </div>

    <div class="genInfo">
        <p> <strong> {{Party.Party_Name}} </strong> </p>
        <p> {{Party.Mobile}} </p>
    </div>
</div>