<div class="row" style="background-color: #F0F0F9;" >                
    <div class="col-md-12">
      <div class="bodyCenter">
        <div class="chart">
            
              <div class="chartOptions">
                  <select style="padding: .5rem; border: none;" (change)="SetChartType($event)" >
                      <option value="0">Line Chart</option>
                      <option value="1">Bar Chart</option>
                  </select>

                  <select style="padding: .5rem; border: none;" (change)="SetChartPeriod($event)">
                      <option value="0" >Last 3 Months</option>
                      <option value="1">Last 6 Months</option>
                      <option value="2">Last 1 Year</option>
                  </select>
              </div>

              <div class="chartData">
                  <!-- <div echarts [options]="chartOption" class="demo-chart"></div> -->
              </div>
          
                <!-- <div echarts [options]="options" [merge]="mergeOptions" class="demo-chart"></div> -->
          
        </div>

        <div class="transactionList"> 
          <ng-container *ngIf="loadingData" >                    
            <div style="text-align:center; width: 100%;" >
                <img src="assets/images/loading.gif" height="100px" width="100px" />
            </div>                
          </ng-container>

          <ng-container *ngIf="dataError" >
              <h3 style="color: red;">Error!!! Unale to get Payments from the Server</h3> 
              <p>{{errDetails}}</p>
          </ng-container>

          <ng-container *ngIf="!dataError && !loadingData">        
                <div class="heading">
                    <p>Recent Transactions</p>
                </div>
                <div *ngFor="let Trans of TransList; let i = index" >
                    <div class="transaction">
                        <div class="transLeft">
                            <div class="logoBox">
                                <p [style.color]="Trans.SeriesSno == 2 ? 'green' : Trans.SeriesSno == 4 ? 'grey' : Trans.SeriesSno == 5 ? 'red' : Trans.SeriesSno == 6 ? 'blue' : 'pink'" >
                                    {{Trans.SeriesSno == 1 ? 'P' : Trans.SeriesSno == 2 ? 'R' : Trans.SeriesSno == 3 ? 'RP' : Trans.SeriesSno == 5 ? 'V' : Trans.SeriesSno == 6 ? 'RL' : Trans.SeriesSno == 7 ? 'IP' : 'RPP'   }}
                                </p>
                            </div>

                            <div class="content">
                                <p> <strong> {{ Trans.Series_Name   }} </strong> </p>
                                <p> No: {{ Trans.Trans_No }} /  {{ Trans.Trans_Date | intToDate | date:'dd/MM/yyyy' }}   </p>
                            </div>
                            
                        </div>

                        <div class="transRight">
                            <p style="font-weight: 500;font-size: 1.2rem;">{{ Trans.Amount | number}} </p>
                            <p> {{ Trans.Bank_Name }}   </p>
                        </div>
                        
                    </div>
                </div>        
          </ng-container> 
        </div>
      </div>
        <!-- <ng-container *ngIf="!dataError && !loadingData" >
            <div class="row">   
            
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilterTrans($event)" placeholder="Type here to Search" #inputTrans>
                    </mat-form-field>
                </div>
                <div class="col-md-2" style="padding: 10px;">
                  
                </div>                
                
            </div> 

            <div class="mat-elevation-z8">

                <table mat-table [dataSource]="dataSourceTrans" matSort>
              
                  <ng-container matColumnDef="Sno">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="ImgCount">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header>  </th>
                    <td mat-cell *matCellDef="let row">  
                        <img *ngIf='row.ImgCount > 0 ' src='assets/images/images.png' height='20' width='20'  (click)="OpenSlideshow(row); $event.stopPropagation();"/>
                    </td>
                  </ng-container> 

                  <ng-container matColumnDef="Trans_Date">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.Trans_Date | intToDate | date:'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Series_Name">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header> Particulars </th>
                    <td mat-cell *matCellDef="let row"> {{row.Series_Name }} </td>
                  </ng-container>

                  <ng-container matColumnDef="Party_Name">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header> Party Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.Party_Name}} </td>
                  </ng-container>
                                              
                  <ng-container matColumnDef="Borrower_Name">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header> Borrower </th>
                    <td mat-cell *matCellDef="let row"> {{ row.Borrower_Name }} </td>
                  </ng-container>
             
                  <ng-container matColumnDef="Bank_Name">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header> Bank Name </th>
                    <td mat-cell *matCellDef="let row"> {{ row.Bank_Name }} </td>
                  </ng-container>

                  <ng-container matColumnDef="Amount">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header> Amount </th>
                    <td mat-cell *matCellDef="let row"> {{ (row.Amount | numberDifferentiation) + (row.Amount > 99000 ? ' L' : '') }} </td>
                  </ng-container>

                  <ng-container matColumnDef="Weight">
                    <th mat-header-cell class="bnkhead" *matHeaderCellDef mat-sort-header> Weight </th>
                    <td mat-cell *matCellDef="let row"> {{ row.Weight.toFixed(3) }} </td>
                  </ng-container>

                  <tr style="height: 40px;" mat-header-row *matHeaderRowDef="displayedTransColumns"></tr>
                  <tr style="height: 40px;" mat-row *matRowDef="let row; columns: displayedTransColumns;" (click)="LoadTransaction(row)" ></tr>
              
                  
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{inputTrans.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize = 25 aria-label="Select page of users"></mat-paginator>
            </div>
        </ng-container>                
       -->
    </div>
</div>
