<div class="container">
  <div class="col-md-12"  >
  
    <div style="float: left;">
        <img src="assets/images/customers.png" height="40" width="40" /> &nbsp; <h1 style="display: inline;" >{{PartyType}}</h1> 
    </div>
    <div style="float: right; font-size: xx-large;cursor: pointer;" (click)="onNoClick()" >
        &times;
    </div>

    <br>
    <hr>
    <form *ngIf="PartyForm"  [formGroup]="PartyForm" #ngForm="ngForm" class="form-container" (ngSubmit)="SaveParty()">
        <mat-card>
          <mat-card-content>        
            <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-5">
                      <input type="file" style="display: none;" accept="image/*" (change)="selectFile($event)" #fileUpload>            
                      <div (click)="fileUpload.click()">                    
                          <ng-container *ngIf="TransImages && TransImages.Image_Url" >
                              <img height="175" width="175" [src]="TransImages.SrcType == 0 ? TransImages.Image_File :  TransImages.Image_Url" />
                          </ng-container>
                          <ng-container *ngIf="!TransImages || !TransImages.Image_Url" >
                              <img src="assets/images/partyimagepreview.png" />
                          </ng-container>                    
                      </div>
                    </div>

                    <div class="col-md-7">                      
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label></mat-label>
                            <mat-select formControlName="Salutation" [(value)]="SelectedSalutation">
                              <mat-option [value]="option.value" *ngFor="let option of Salutations">{{ option.text }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-8">
                          <mat-form-field class="full-width">
                            <input formControlName="PartySno" type="hidden" >
                            <input formControlName="Party_Name" matInput placeholder="Name">
                          </mat-form-field>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <mat-label>Mobile</mat-label>
                            <span matPrefix>+91 &nbsp;</span>
                            <input type="tel" formControlName="Mobile"  matInput placeholder="555-555-1234">
                            <mat-icon matSuffix>mode_edit</mat-icon>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field>
                            <mat-label></mat-label>
                            <mat-select formControlName="Sex" [(value)]="SelectedSex">
                              <mat-option [value]="option.value" *ngFor="let option of Sexes">{{ option.text }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col-md-8">
                          <app-ratings [rating]="rating" (retRating)="getNewRating($event)"                                          ></app-ratings>
                        </div>

                      </div>

                    </div>
                  </div>  

                  <div class="row" style="margin-top: .5rem; display: none; " >
                    <div class="col-md-6">
                      <mat-form-field class="full-width">                        
                        <input formControlName="Roi" type="number" matInput placeholder="Roi" required="">
                      </mat-form-field>                    
                    </div>

                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Choose Scheme</mat-label>
                        <mat-select formControlName="Scheme" [(value)]="SelectedScheme">
                          <mat-option [value]="option.value" *ngFor="let option of Schemes">{{ option.text }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="Address" rows="4" placeholder="Ex. 100 Main St"></textarea>
                        </mat-form-field>                    
                    </div>
                    <div class="col-md-6">
                      <div class="row" style="margin-top: 10px;" >
                        <div class="col-md-12">  
                            <mat-form-field class="full-width">                        
                                <input formControlName="City" matInput placeholder="City">
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">  
                          <mat-form-field class="full-width">                        
                            <input formControlName="Email" matInput placeholder="Email">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  
              </div>

            </div>
            
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width" >                
                  <input formControlName="Aadhar_No" matInput #Remarks placeholder="Aadhar No">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width" >                
                  <input formControlName="Pan_No" matInput #Remarks placeholder="Pan No">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width" >                
                  <input formControlName="Remarks" matInput #Remarks placeholder="Remarks">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Customer Type</mat-label>
                  <mat-select formControlName="Customer_Type" [(value)]="SelectedCustomerType">
                    <mat-option [value]="option.value" *ngFor="let option of CustomerTypes">{{ option.text }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

          </mat-card-content>

      
        </mat-card>
    </form>
      
      <br>

      <mat-card-actions style="margin-left: 0px;" >
        <button type="submit" (click)="SaveParty()" style="color: green;" mat-stroked-button color="primary" >
            <mat-icon>save</mat-icon>
            Save {{PartyType}}
        </button>

        <button (click)="AddNewParty()"  mat-stroked-button color="primary" >
          <mat-icon>save</mat-icon>
          New {{PartyType}}
        </button>

        <button (click)="DeleteParty()" mat-stroked-button color="warn" >
          <mat-icon>delete</mat-icon>      
          Delete
        </button>

        <button (click)="OpenAppControl()" mat-stroked-button color="warn" >
          <mat-icon>settings</mat-icon>      
          App Control
        </button>
      </mat-card-actions>
  </div>
</div>