
<div class="container-fluid"> 
  <div class="row" style="padding: 5px;" >
    <div class="col-md-12">
      <div style="float: left; cursor: pointer;" (click)="OpenMainReport()">      
        <!-- <img src="assets/images/backicon.png" height="30" width="30" /> &nbsp; &nbsp; &nbsp; -->
        <img (click)="AlterCustomer()" src="assets/images/person.jpeg" height="40" width="40" /> &nbsp;
        <h1 style="display: inline; "> {{Party.Party_Name}} </h1> 
        <span> - Customer Summary</span>
        <!-- <img (click)="AlterCustomer()" class="editicon" src="assets/images/editicon.png" /> &nbsp; -->
      </div>
      
      <div style="float: right;">                      
        <button mat-button [matMenuTriggerFor]="menuRep"><img src="assets/images/reports1.png" width="25" height="30" />  <h4 style="display: inline;"> &nbsp; Reports</h4></button>
        <mat-menu #menuRep="matMenu">
          <button mat-menu-item (click)="OpenRpHistory()" > <img src="assets/images/repledge.png" height="30" width="30" /> &nbsp; <span> Repledge History</span> </button>            
          <button mat-menu-item (click)="OpenImagegallery()" > <img src="assets/images/transfer1.png" height="30" width="30" /> &nbsp; <span> Image Gallery </span> </button>               
        </mat-menu>
      </div>

      <div style="float: right;">                      
        <button mat-button [matMenuTriggerFor]="ipmenu"><img src="assets/images/interest-post.png" width="40" height="40" /> &nbsp; <h3 style="display: inline;">Interest Posting</h3></button>
        <mat-menu #ipmenu="matMenu">
          <button mat-menu-item (click)="ClearPosting()">  <span> Clear Posting </span> </button>
          <!-- <button mat-menu-item (click)="InterestPosting(1,0)">  <span> Post Interest  </span> </button> -->
          <button mat-menu-item (click)="InterestPosting(2,0)"> <span> Post Ason Date</span> </button>                    
          <button mat-menu-item (click)="InterestPosting(2,1)"> <span> Post Ason Weekly Int</span> </button>                    
        </mat-menu>
      </div>

      <div style="float: right;">                      
        <button mat-button [matMenuTriggerFor]="menuTrans"><img src="assets/images/transactions.png" width="40" height="40" /> &nbsp; <h3 style="display: inline;">Transactions</h3></button>
        <mat-menu #menuTrans="matMenu">
          <button mat-menu-item (click)="OpenPaymentCreation()"> <img src="assets/images/payment.png" height="30" width="30" /> &nbsp; <span> Payment </span> </button>
          <button mat-menu-item (click)="OpenReceiptCreation()" > <img src="assets/images/receipt.png" height="30" width="30" /> &nbsp; <span> Receipt </span> </button>          
          <button mat-menu-item (click)="OpenVoucherCreation()"> <img src="assets/images/newvoucher.png" height="30" width="30" /> &nbsp; <span> Voucher </span> </button>               
        </mat-menu>
      </div>
      
    </div>
  </div>  

  <hr class="hrsans" >
  
</div>

<ng-container *ngIf="MainReportActive == true" >
  <div class="container-fluid">
    <div class="row" style="margin-top: 10px;" >
      <div class="col-md-6">  
        <div class="row">
          <div class="col-md-3">
            <h3>Total Credit Amount</h3>
          </div>
          <div class="col-md-9" style="color: green;" >
            {{TotalCreditAmount.toLocaleString('en-IN')}}
          </div>
        </div>
        <div class="row" >
          <div class="col-md-3">
            <h3>Total Debit Amount</h3>
          </div>
          <div class="col-md-9" style="color: red;">
            {{TotalDebitAmount.toLocaleString('en-IN')}}
          </div>
        </div>      
        <div class="row" >
          <div class="col-md-3">
            <h3><b>Balance</b></h3>
          </div>
          <div class="col-md-9" style="font-weight: bolder;" >
            <span [style.color]="TotalDebitAmount- TotalCreditAmount > 0 ? 'green' : 'red'"> {{(TotalDebitAmount - TotalCreditAmount).toLocaleString('en-IN') }} </span>
            <br>
            <span style="font-weight: 400;" >{{BalanceInWords}}</span>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="row" >
          <div class="col-md-4">
            <h3>Total Cr Weight</h3>
          </div>
          <div class="col-md-8" style="color: green;">
            {{TotalCreditWeight.toFixed(3)}}
          </div>
        </div>
        <div class="row" >
          <div class="col-md-4" >
            <h3>Total Dr Weight</h3>
          </div>
          <div class="col-md-8" style="color: red;">
            {{TotalDebitWeight.toFixed(3)}}
          </div>
        </div>
        <div class="row" >
          <div class="col-md-4">
            <h3><b>Balance</b></h3>
          </div>
          <div class="col-md-8" style="font-weight: bolder;" >
            <span [style.color]="TotalDebitWeight - TotalCreditWeight > 0 ? 'green' : 'red'"> {{(TotalDebitWeight - TotalCreditWeight).toFixed(3)}} </span>
          </div>
        </div>
      </div>  

      <div class="col-md-3">
        <div class="row" >
          <div class="col-md-4">
            <h3>Sale Value</h3>
          </div>
          <div class="col-md-8" style="color: green;">
            {{SaleValue | numberDifferentiation}}  Lacs
          </div>
        </div>
        <div class="row" >
          <div class="col-md-4" >
            <h3>Release Value</h3>
          </div>
          <div class="col-md-8" style="color: red;">
           <span [style.color]=" ReleaseValue > SaleValue ? 'red' : 'green' " > {{ReleaseValue | numberDifferentiation}} Lacs </span>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-4">
            <h3><b>Difference</b></h3>
          </div>
          <div class="col-md-8" style="font-weight: bolder;" >
            <span [style.color]="Difference > 0 ? 'green' : 'red'"> {{(Difference) | numberDifferentiation }}  Lacs</span>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-4">
            <h4><b>Ratio</b></h4>
          </div>
          <div class="col-md-8" style="font-weight: bolder;" >
            {{Ratio.toFixed(2)}} %
          </div>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col-md-12">

          <ng-container *ngIf="loadingData" >                    
              <div style="text-align:center; width: 100%;" >
                  <img src="assets/images/loading.gif" height="60px" width="60px" />
              </div>                
          </ng-container>

          <ng-container *ngIf="dataError" >
              <h3 style="color: red;">Error!!! Unale to get Payments from the Server</h3> 
              <p>{{errDetails}}</p>
          </ng-container>
          <hr style="padding: 0;" >
          <ng-container *ngIf="!dataError && !loadingData" >
              <div class="row" style="margin-top: -20px;" >           
                  <div class="col-md-3">
                    <button class="btn" (click)="OpenDateSelection()" #datesel> <img src="assets/images/calendar.png" height="50" width="50" /> </button>
                     <span style="font-size: 18px;"> From : <b>{{ReportFromDate | date:'dd/MM/yyyy'}} </b> &nbsp;&nbsp; To: <b>{{ReportToDate | date:'dd/MM/yyyy'}}</b> </span>
                  </div>
                  <div class="col-md-4" >                    
                      <mat-form-field appearance="standard">
                          <mat-label>Search</mat-label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="Type here to Search" #input>
                      </mat-form-field>
                  </div>

                  
                  <div class="col-md-5" style="text-align: right;">                                        
                    <button class="btn" (click)="OpenShareLink()" #sharesel> <img src="assets/images/share.png" height="40" width="40" /> </button>
                    <button class="btn" (click)="exportAsExcel()"> <img src="assets/images/excelicon.png" height="50" width="50" /> </button>                    
                  </div>
              </div>

              <div class="mat-elevation-z8" #TABLE>

                  <table mat-table [dataSource]="dataSource" matSort >
                    

                    <ng-container matColumnDef="RowNo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
                      <td mat-cell *matCellDef="let row"> {{ row.RowNo}} </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="ImgCount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                      <td mat-cell *matCellDef="let row">   <img *ngIf="row.ImgCount > 0" src="assets/images/images.png" height="20" width="20" (click)="OpenSlideshow(row); $event.stopPropagation();" /> </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="Trans_Date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                      <td mat-cell *matCellDef="let row"> {{row.Trans_Date | intToDate | date:'dd/MM/yyyy' }} </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="Particulars">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Particulars </th>
                      <td mat-cell *matCellDef="let row" [style.color]="row.SeriesSno == 7 ? '#BA8915' : '#31302C' " > {{row.Particulars}} <br> <span style="font-size: 12px; color: darkgray;" ><i> ({{row.Remarks}})</i></span>  </td>
                      <td mat-footer-cell *matFooterCellDef> </td>                    
                    </ng-container>
                    
                    <ng-container matColumnDef="Bank_Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Account </th>
                      <td mat-cell *matCellDef="let row" style="color: green;"> {{ row.Bank_Name}} </td>
                      <td style="color: #fff;" mat-footer-cell *matFooterCellDef> Total</td>
                    </ng-container>
  
                    <ng-container matColumnDef="CrAmount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cr Amount </th>
                      <!-- <td mat-cell *matCellDef="let row" style="color: green;"> {{ row.CrAmount < 1 ? "" : row.CrAmount.toLocaleString('en-IN') }} </td> -->
                      <td mat-cell *matCellDef="let row" style="color: green;"> {{row.CrAmount.toLocaleString('en-IN') }} </td>
                      <td style="color: #fff;" mat-footer-cell *matFooterCellDef>{{ (CrAmountTotal() | numberDifferentiation) + (CrAmountTotal() > 99000 ? ' L' : '') }} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="DrAmount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dr Amount </th>
                      <!-- <td mat-cell *matCellDef="let row" style="color: red;"> {{row.DrAmount < 1 ? "" : row.DrAmount.toLocaleString('en-IN') }} </td> -->
                      <td mat-cell *matCellDef="let row" style="color: red;"> {{row.DrAmount.toLocaleString('en-IN') }} </td>
                      <td style="color: #fff;" mat-footer-cell *matFooterCellDef>{{ (DrAmountTotal() | numberDifferentiation) +  (DrAmountTotal() > 99000 ? ' L' : '') }}</td>
                    </ng-container>

                    <ng-container matColumnDef="IntAccured">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Int Accured </th>
                      <td mat-cell *matCellDef="let row" style="color: green;"> {{row.IntAccured < 1 ? "" : row.IntAccured.toLocaleString('en-IN') }} </td>
                      <td style="color: #fff;" mat-footer-cell *matFooterCellDef>{{ (IntAccuredTotal() | numberDifferentiation) +  (IntAccuredTotal() > 99000 ? ' L' : '') }}</td>
                    </ng-container>

                    <ng-container matColumnDef="IntPaid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Int Paid </th>
                      <td mat-cell *matCellDef="let row" style="color: green;"> {{row.IntPaid < 1 ? "" : row.IntPaid.toLocaleString('en-IN') }} </td>
                      <td style="color: #fff;" mat-footer-cell *matFooterCellDef>{{ (IntPaidTotal() | numberDifferentiation) +  (IntPaidTotal() > 99000 ? ' L' : '') }}</td>
                    </ng-container>


                    <ng-container matColumnDef="PrinBalance">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Principal Bal </th>
                      <td mat-cell *matCellDef="let row" style="color: red;"> {{row.PrinBalance < 1 ? "" : row.PrinBalance.toLocaleString('en-IN') }} </td>
                      <td style="color: #fff;" mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="Balance">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
                      <td mat-cell *matCellDef="let row" [style.color]="row.Balance < 1  ? 'green' : 'red'" > {{ row.Balance == 0 ? "" : row.Balance.toLocaleString('en-IN')  }} </td>
                      <td mat-footer-cell *matFooterCellDef> </td>                    
                    </ng-container>

                 
                    <ng-container matColumnDef="CrWeight">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cr Weight <br> in Gms </th>
                      <td mat-cell *matCellDef="let row" style="color: green;" > {{row.CrWeight < 1 ? "" : row.CrWeight.toFixed(3)}} </td>
                      <td style="color: #fff;" mat-footer-cell *matFooterCellDef>{{ CrWeightTotal().toFixed(3) }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="DrWeight">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dr Weight <br> in Gms </th>
                      <td mat-cell *matCellDef="let row" style="color: red;"> {{row.DrWeight < 1 ? "" : row.DrWeight.toFixed(3) }} </td>
                      <td style="color: #fff;" mat-footer-cell *matFooterCellDef>{{ DrWeightTotal().toFixed(3) }}</td>
                    </ng-container>

                    
                    <ng-container matColumnDef="BalanceWt">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance Wt</th>
                      <td mat-cell *matCellDef="let row" [style.color]="row.Balance < 1  ? 'green' : 'red'"> {{ row.BalanceWt == 0 ? "" : row.BalanceWt.toFixed(3) }} </td>
                      <td mat-footer-cell *matFooterCellDef> </td>                    
                    </ng-container>


                      <tr style="height: 40px;" mat-header-row *matHeaderRowDef="displayedColumns;sticky: true "></tr>
                      <tr style="height: 40px;" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="LoadTransaction(row)" ></tr>
                      <tr mat-footer-row  *matFooterRowDef="displayedColumns; sticky: true"></tr> 
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize = 100 aria-label="Select page of users"></mat-paginator>
              </div>
          </ng-container>   

        </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="RpHistoryActive == true">
  <app-repledgehistory [PartySno]="PartySno"></app-repledgehistory>
</ng-container>

<ng-container *ngIf="ImageGalleryActive == true">
  <app-gallery [PartySno]="PartySno" [PartyType]="1" ></app-gallery>
</ng-container>
